body {
    background-color: black;
    color: white;
}

.Tecnologías {
    font-style: normal;
}

#titulo {
    font-size: -webkit-xxx-large;
    margin-bottom: 15px;
}

#Descripción {
    margin-top: 15px;
}

#logo_distintivo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    background-color: rgb(16, 16, 16);
    padding: 4px;
    transform: none;
    border-radius: 50%;
    margin-right: 5px;
}

#etiqueta_tipo {
    width: 105px;
    height: 30px;
    padding-top: 1px;
}