{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center">
                    <div>
                        <h1 class="text-center ">Programador Autodidacta</h1>
                        <p class="lead">
                            En un mundo donde no me sentía conforme con el enfoque tradicional de las
                            universidades hacia los estudiantes, opté por trazar mi propio camino de aprendizaje en el
                            ámbito de la programación. He creado este blog dirigido a personas que se identifican
                            conmigo y
                            buscan encontrar todos los recursos que les ayuden a forjar su aprendizaje autónomo en el
                            desarrollo de software. <strong>"Ser autodidacta significa abrazar el aprendizaje como un
                            estilo de vida, no como una obligación." </strong> Steve Jobs</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                        height="400"
                        src="https://res.cloudinary.com/dlmzgsstv/image/upload/v1692384216/d8cz7su-de10c7bb-8540-42b0-9894-5fde7ad5957a_rn6fkr.jpg"
                        style="border-radius: 50%;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}