{% load static %}

<!doctype html>
<html lang="es">

<head>
    <title>Blog personal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dlmzgsstv/image/upload/v1691444150/blog_3_wxof9n.png" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1447001150668800"
     crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <!--<a style="" class="navbar-brand" href="#page-top"><img src="" alt="..." /></a> -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample08">
                    <ul class="navbar-nav  ms-auto text-uppercase py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'lista_post' %}">Cursos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'plataforma_posts' %}">Plataformas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'youtube_posts' %}">YouTube</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
                {% block content %}
                {% endblock content %}
    </main>
</body>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
<!-- TypedJS library -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<!-- JavaScript -->
<script src="{% static 'js/js.js'%}"></script>

</html>